{% extends "master.html" %}

{% block title %}About{% endblock %}

{% block content %}
  <img src="https://source.unsplash.com/1600x400/?company" class="d-block w-100" alt="...">
  <div class="container my-5"> 
    <h1 class="text-center">About Us</h1>
    <div class="row">
        <div class="col-md-2">
            <img src="/static/images/me.jpg" style="width:200; height:300" alt="...">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-9 justify-content-end">
            {% lorem 5 b random %}
        </div>
    </div>
  </div>
{% endblock %}
